<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Al Jazeera English News</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>

<div class="jumbotron text-center" style="color:black">
    <h1 style="color:black">Flask Simple News Web Application</h1>
</div>

<div class="container">
    <div class="row">
        {% for new, des, i in context %}
        <div class="col-md-4">
            <div class="card mb-4">
                <img src="{{i}}" class="card-img-top" alt="news image">
                <div class="card-body">
                    <h5 class="card-title">News: </h5> {{new}}
                    <p class="card-text">Description: </h4> {{des}}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

</body>
</html>
